{% extends './dashboard.html' %}

{% load crispy_forms_tags %}

{% block title %}
<title>Admin | Create Properties</title>
{% endblock %}

{% block content %}
<div class="container-fluid py-5">
    <div class="row mt-5">
        <div class="col-md-10 p-3 bg-dark text-white border border-dark border-4 rounded m-auto">
            <h2 class="text-white small">Admin | Create Property</h2>
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>
{% endblock %}