{% extends './dashboard.html' %}

{% load crispy_forms_tags %}

{% block title %}
<title>Admin | Create Properties</title>
{% endblock %}

{% block content %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Properties</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Property</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="p-3 bg-dark text-white rounded">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</main>
{% endblock %}