{% extends './dashboard.html' %}

{% block content %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'property_list'%}">Properties</a></li>
            <li class="breadcrumb-item active" aria-current="page">Property Details</li>
        </ol>
    </nav>
    <h2 class="fw-lighter lh-lg">Messages, Baraka Homes!</h2>
    <p class="fw-lighter">Nothing Here Yet!</p>
</main>

{% endblock %}