{% extends './dashboard.html' %}

{% block content %}
<div class="container">
    <div class="small fw-lighter">
        <p>{{property.title}}</p>
        <p>{{property.description}}</p>
        <p>{{property.address}}</p>
        <p>{{property.price}}</p>
        <p>{{property.size}}</p>
        <p>{{property.bedrooms}}</p>
        <p>{{property.bathrooms}}</p>
        <p>{{property.status}}</p>
        <p>{{property.year_built}}</p>
        <p>{{property.images}}</p>
        <p>{{property.location}}</p>
        <p>{{property.features}}</p>
    </div>
</div>
{% endblock %}